/* 
Folha de estilo criado  - Template para Instituições Educacionais 
By Caio Dellano 15/12/2019
Desenvolvimento FireFly
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
  --cor-color-principal: #7F9C97;
  --cor-color-secundaria: #273A40; 
  --cor-bg-principal: #FFFFFF;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size:16px;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.box-evento{
    width: 332px;
    height: 388px;
    position: relative;
    background-repeat: no-repeat !important;
    background-position: top;
    background-size: 332px 300px !important;
    background-color: #FFF !important;
    border-radius:4px;
    border:1px solid #CCC;          
}
.box-data-evento span:first-child{
    font-weight: bold;
    margin-top: 10px;
}
.box-data-evento span:last-child{
    color: #EB4118;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    font-size: 22px;
}
.box-data-evento span{
    display:block;
}
.box-data-evento{
    width: 60px;
    border:1px solid #000;
    height: 60px;
    line-height: 20px;
    border-radius:4px;
    position:absolute;
    bottom: 38px;
    left: 8px;
    text-align: center;
    background-color: #FFF;
    border:1px solid #CCC;
    letter-spacing: -1px;
    box-shadow: 2px 2px 1px #CCC;
}
.box-evento .titulo{
    position: absolute;
    bottom: 12px;   
    left: 80px;
    display: block;
    font-size: 14px;
}
.box-evento .resumo{
    color:#888;
    display: block;
}
.box-evento .resumo a{
    color: #FFF;
    background: #069;
    text-decoration: none;
    padding: 2px;
    border-radius: 4px;
    font-size: 0.8em;           
}
.box-evento .resumo a:hover{
    background-color: #003048;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/

#owl-demo .item img{
    display: block;
    width  : 100%;
    height : auto;
}

/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.card .card-body h5{
    color: #069;
    font-weight: bold;
}
.card .card-body{
    text-align: center;
    padding: 10px;
}

/* PERSONALIZANDO ARROWS DO SLICK */
.slick-next.slick-arrow,.slick-prev.slick-arrow{
    outline: 0;
}
.slick-prev:before, .slick-next:before { 
    font-family: "slick"; 
    font-size: 40px; 
    line-height: 1; 
    color: #FFF; 
    opacity: 0.75;    
}   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { 
    content: "›"; 
}

[dir="rtl"] .slick-next { 
    left: -10px; 
    top: 70px;
    right: auto;
}
.slick-next:before {
 content: "›"; 
}
[dir="rtl"] .slick-next:before { content: "‹"; }
/* Fim */

.pg-default{
    margin-top: 10px;
}

body {
    background: var(--cor-bg-principal);
}

/* PERSONALIZANDO BOTÃO SUBIR TOPO */
.topo {
    background-color: var(--cor-color-principal);
    width: 30px;
    height: 30px;
    color: #FFF;
    text-align: center; 
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding-top: 2px;
    cursor: pointer;
    z-index: 4;
    border-radius: 4px;
}

/* PERSONALIZANDO BOTÃO BOOTSTRAP */
.nav-links li a.btn.btn-success{
    color: #FFF ;
}
.nav-links .btn.btn-success:hover{
    color:#FFF;
}
.btn.btn-outline-success,.btn.btn-outline-primary{
    border: solid 1px var(--cor-color-principal);
    color: var(--cor-color-principal);
    text-transform: uppercase;
}
.btn.btn-outline-success:hover,.btn.btn-outline-primary:hover  {
    border: solid 1px var(--cor-color-principal);
    background-color: var(--cor-color-principal);
    color: #FFF;
}

/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#information{
  background-color: var(--cor-bg-principal);
  width: 100%;
  height: 100%;  
  text-align: center;
}
#information p {
    color:#333;
    text-transform: uppercase;
    font-size: 64px;
    margin-top: 36px;
}
#information p small{
    color:#666;
    font-size: 24px;
    display: block;
    font-weight: 300;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#sobre-nos img{
    max-width: 98%;
    padding-bottom: 20px;
}
#sobre-nos p{
    text-align: right;
    line-height: 35px;
}

#sobre-nos h3{
    text-align: right;    
}
#sobre-nos h2 i{
    font-size: 26px;
}
#sobre-nos h2{
    text-align: center;
    color: var(--cor-color-principal);
    text-transform: uppercase;
    font-size: 26px;    
}
#sobre-nos hr{
  border: 2px solid var(--cor-color-principal);
  width: 200px;
  margin: 0 auto;
}

/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#eventos .slick-eventos{
    padding-top: 20px;
}
#eventos {
    background-color: var(--cor-color-principal);
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}

#eventos h2 i{
    font-size: 26px;
}
#eventos h2{
    color: #FFF;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}  
#eventos hr{
    border: #FFF solid 2px;
    width : 200px;
    margin: 0 auto;
} 
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#services .container .row:only-child{
    text-align: right;
}
#services{
  background-color: var(--cor-bg-principal);
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
#services p{
    color: #333;
    font-size: 1.3em;
    text-align: right;
}
#services .container .row .col-md-6 .btn.btn-warning{
 color:#FFF;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#enquete .nav-link.active{
    background: #FAFAFA;
}
#enquete h3{
    background:var(--cor-color-principal);
    color:#FFF;
}
#enquete{

  background-color: #FAFAFA;
  width: 100%;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 10px;
}
#enquete h2 i{
    font-size: 26px;
}
#enquete h2{
    color         : var(--cor-color-principal);
    font-size     : 26px;
    text-transform: uppercase;
    text-align    : center;
    font-weight   : 300;
}
#enquete hr{
    border: var(--cor-color-principal) solid 2px;
    width : 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.tab-pane.container.active{
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 10px;
}

#links-services h2 i{
    font-size:26px;
}
#links-services h2{ 
    color:#FFF;
    font-size     : 26px;
    text-transform: uppercase;
    text-align    : center;
    font-weight   : 300;
}
#links-services{
  background-color: var(--cor-color-secundaria );
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 20px;
}
#links-services p{
    color: #333;
    font-size: 1.3em;
}
#links-services hr{
    border: #FFF solid 2px;
    width : 200px;
    margin: 0 auto;
}
/* #links-services .container .row .col-lg-2:nth-child(1) a{background-color: #F58634;}
#links-services .container .row .col-lg-2:nth-child(2) a{background-color: #3D619E;}
#links-services .container .row .col-lg-2:nth-child(3) a{background-color: #44C1C4;}
#links-services .container .row .col-lg-2:nth-child(4) a{background-color: #00A859;}
#links-services .container .row .col-lg-2:nth-child(5) a{background-color: #A53692;}
#links-services .container .row .col-lg-2:nth-child(6) a{background-color: #D63135;} */

#links-services .container .row:only-child a{
    width: 170px;
    height: 180px; 
    display: block;
    background-color: #FFF;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
    padding: 6px;
}

#links-services .container .row:only-child a .fas, 
#links-services .container .row:only-child a .fab{
    font-size: 55px;
    margin: 22px 0px 12px 0px;
    color: #333;
}

#links-services .container .row:only-child a p{
    font-size: 0.8em;    
    color: #333;
}

/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#footer{
    background-color: #212121;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 20px;
}
#footer .container-fluid .row .col-md-3{
 padding-left:4% ;
 padding-right:4% ;
 border-left:1px dotted #666;
}
#footer .container-fluid .row:only-child h3{
    margin-bottom: 35px;
    font-size: 1.3em;
}
#footer .container-fluid .row:only-child ul, 
.noticias{
    list-style: none;
    line-height: 1.8em;
}

#footer .container-fluid .row:only-child ul li a, 
.noticias li a{
  color: #999;
  text-decoration: none;
  border-left: 4px solid rgba(0,0,0,0);
  padding-left: 8px;
  transition: .3s;
}  
.noticias li:hover a{
   color: #000; 
   border-left: 4px solid #000;
}
#footer .container-fluid .row:only-child ul li:hover a{
    color: #FFF;
    border-left: 4px solid var(--cor-color-principal);
}
#footer .container-fluid .row:only-child ul li, 
.noticias li {
    border-bottom: 1px dotted #666;
    margin-bottom: 12px;
    font-size: .8em;
} 
#footer .container-fluid .row:only-child p{
    color: #FFF;
    font-size: .7em;
    line-height: 26px;
}

/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#assign {
   background: linear-gradient(45deg, #222, #333); 
}
#assign .container{
   text-align: center; 
   color: #FFF;
   padding-top: 8px;
   padding-bottom: 8px;
   font-size: 12px;
   color: #777;
}
#assign .container img{
    max-height: 33px;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.form-control{
    margin-bottom:24px ;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#depoimentos{
  background-color: var(--cor-color-secundaria);
  width: 100%;
  height: 100%;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 35px;

}
#depoimentos .slick-depoimentos img{
    width: 100px;
    margin: 0 auto;
    border-radius:50%;
    margin-bottom: 10px;
    border: 1px solid var(--cor-color-secundaria);
}
#depoimentos .slick-depoimentos{
    text-align: center;
    font-size:20px;
    font-style: italic;
    padding: 8px;
    line-height: 28px;
    /* color:var(--cor-color-secundaria); */
}
#depoimentos h2{
    color: #FFF;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}
#depoimentos hr{
    border: #FFF solid 2px;
    width: 200px;
    margin: 0 auto;
}
#depoimentos p{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 0px;
    color:#FFF;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
#paralax h2 i{
    font-size: 26px;
}
#paralax hr{
    border: #FFF solid 2px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#paralax{

   background-image: url("../../assets/img/plateia-front.jpg");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   color: #FFF;
   padding-top: 20px;
   padding-bottom: 20px;
}
.form-contato input{
    width: 100%;
    display: block;
    margin-bottom: 4px;
    height: 40px;
    border:1px solid var(--cor-color-principal);
    padding: 10px;
}
.form-contato textarea{
    border:1px solid var(--cor-color-principal);
    padding: 10px;
    width: 100%;
}
.wrap-form{
    max-width: 580px;
    margin:0 auto;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.bg-paralax-pg-default{
    background-image: url('../../assets/img/bg-pagina.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.bg-paralax-pg-default h6{
    position: absolute;
    bottom: 0px;
}
.bg-paralax-pg-default .container h6 a{
    color:#FFF;
}
.bg-paralax-pg-default .container h6 a:hover{
    color:var(--cor-color-principal);
}
h3.border-bottom.border-gray{
    margin-top: 24px;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/

.custom {
    margin-top: 28px;

}
.custom .fas{
    float       : left;
    margin-right: 10px;
    font-size   : 26px;
    color       : var(--cor-color-principal);
}
.custom h3, .custom h4{
    font-size: .8em;
}
.custom h4{
    color:#777;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.icon-socials{
    color           : #FFF;
    background-color: var(--cor-color-principal);
    width           : 25px;
    height          : 25px;
    display         : inline-block;
    text-align      : center;
    border-radius   : 50%;
}
.icon-socials:hover{
    color:#FFF;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/

.head {
    width: 100%;
}

.head h1 {
    padding    : 2px 8px;
    line-height: 100px;
    font-size  : 50px;
    color      : var(--cor-color-principal);
    background : #FFF;    
}

.head .nav-menu {
    z-index: 1;
    background: var(--cor-color-principal);
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    -webkit-box-shadow: 2px 1px 7px rgba(0,0,0,0.2);
    box-shadow: 2px 1px 7px rgba(0,0,0,0.2);
}

.nav-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    color: #333;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 5px;
    transition: all 0.3s ease;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.nav-links {
    transition: .3s;
    margin-bottom: 0;
}

.nav-links a {
    color: #FFF; 
    text-decoration: none;
    transition: .2s;
}
/*~~~~~~~~~~BLOCO~~~~~~~~~~*/
.efeito-hr hr{
  border: 6px solid #FFF;
  width: 0;
  transition: ease .2s;
  margin-bottom: -2px;
  margin-top: 0px;
  opacity: 0;
}
.efeito-hr:hover hr{
 width : 100%;
 opacity: 1;
 border: 1px solid #FFF;
}

/*.nav-links li a hr{
    border: 1px solid #000;
    width: 0;
    transition: ease .2s;
    margin-bottom: -2px;
    margin-top: 0px;
    opacity: 0;
}
.nav-links li:hover a hr{S
   width : 100%;
   opacity: 1;
}
.nav-links li a:hover {
    color: var(--cor-color-secundaria);
}
.sub-menu ul li a hr{
    border: 1px solid #FFF;
    width: 0;
    transition: ease .2s;
    margin-bottom: -2px;
    margin-top: 0px;
    opacity: 0;
}
.sub-menu ul li:hover hr{
    width : 100%;
    opacity: 1;
    }*/

    .active-menu, .nav-links li:hover {
        /*background: rgba(0,0,0,0.1);*/
        border-radius: 3px;
    }
    .sub-menu {
        display: none;
        border-radius: 3px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);     
    }

    .nav-links li:hover .sub-menu{
        display: block;
        position: absolute;
        background: var(--cor-color-principal);

        margin-top: 10px;
        margin-left: -15px;
    }
    .nav-links li:hover .sub-menu ul li{
        display: block;
        width: 150px;
        padding: 10px;
        border-radius: 0;
        text-align: left;
    }

    .nav-links li:hover .sub-menu ul li:last-child{
        border-bottom: none;
    }
    /*~~~~~~~~~~BLOCO~~~~~~~~~~*/
    .fa.fa-chevron-down,.fa.fa-chevron-left{
        color: var(--cor-color-secundaria);
        position: relative;
        left: 22px;
        opacity: .4;
    }
    .fa.fa-chevron-left{
        display: none;
        left: -30px;
    }

    .logo-mobile {
        display: none;
    } 
    .title{
        padding: 10px 12px;
        background-color: #FFF;
        border-bottom: 1px dotted var(--cor-color-principal);  
    }

    .linha-top{
        background-color:var(--cor-color-principal);
        color:#FFF;
    }
    .linha-top a{
        color:#FFF;
        margin-right: 14px;
    }
    .linha-top a:before{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f0e0  ";
    }

    @media screen and (max-width:768px) {
        body {
            overflow-x: hidden;
        }
        .topo {
            background-color: transparent;
            border: 1px solid var(--cor-color-secundaria);
            color:var(--cor-color-secundaria);
            left: 10px;
            bottom: 18px;
            /* width: 30px;
            height: 30px;
            color: #FFF;
            text-align: center; 
            position: fixed;
            
            padding-top: 2px;
            cursor: pointer;
            z-index: 4;
            border-radius: 4px; */
        }
        .head .nav-menu{
            background-color: var(--cor-color-principal);
        }
        #links-services .container .row:only-child a{
            width : 198px;
            height: 178px;
        }
        #services{
            text-align: center;  
        }
        #footer .container-fluid .row .col-md-3{
            text-align: center;
            border: 0px ;
        }
        .nav-links li a{
            color:#FFF;
            font-size: .7em;
        }
        .nav-links li:hover .sub-menu ul li{
            text-align: center;
        }
        .active-menu, .nav-links li:hover {
            background: rgba(0,0,0,0.08);
            border-radius: 3px;
        }
        .nav-links li:hover .sub-menu{
            background-color: var(--cor-color-principal);
            box-shadow: -2px 2px 20px rgba(0, 0, 0, .1);  
            display: inline-block;
            margin-left:-240px;
        }
        .fa.fa-chevron-left{
            display:inline-block;
            color  :#FFF;
            font-size: .7em;
        }
        .fa.fa-chevron-down{
            display: none;
        }
        .title {
            display: none;
        }
        .logo-mobile {
            display: block;
        }
        .logo-mobile img{
            max-height:44px;
            /* padding:20px ; */
        }
        .head .nav-menu {
            justify-content: space-between;
            padding: 10px 20px;
        }
        .nav-menu li {
            border-left: 0px;
            color: #666
        }
        .nav-links {
            box-shadow: -2px 2px 20px  rgba(0, 0, 0, .1);
            position: absolute;
            right: 0px;
            height: 88vh;
            top: 100%;
            background-color: var(--cor-color-principal);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            line-height: 300%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-links li {
            opacity: 0;
        }
        .burger {
            display: block;
        }
        } /*FIM MEDIA*/

        .nav-active {
            transform: translateX(0%);
        }

        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .line2 {
            opacity: 0;
        }

        .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }